:root {
    --RoyalBlue: #03256c;
    --PersianBlue: #2541B2;
    --GreenBlue: #1768AC;
    --Aero: #06BEE1;
    --White: #FFFFFF;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.sectionFour{
    background-color: var(--White);
    padding: 0;
    width: 100%;
}

.sectionFour .row{
    min-height: 500px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.sectionFour .col{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    padding: 5%;
}

.sectionFour .heading{
    padding: 5%;
    padding-bottom: 50px;
}

.sectionFour h1{
    color: var(--RoyalBlue);
    font-weight: 500;
    font-size: 30px;
}

.sectionFour h1 .bigger_h1{
    color: var(--RoyalBlue);
    font-weight: 700;
    font-size: 50px;
}

.sectionFour h2 {
    margin-bottom: 30px;
    font-weight: 550;
    font-size: 40px;
}

.project{
    width: 100%;
    color: var(--White);
    font-size: 26px;
}

.r{
    text-align: right;
}

.l{
    text-align: left;
}

.r1{background-color: var(--RoyalBlue);}
.r2{background-color: var(--GreenBlue);}
.r3{background-color: var(--GreenBlue);}
.r4{
    background-color: var(--White);
    color: var(--PersianBlue);
}

.img1{
    background: url(../assets/img/pollution-g59bf15a02_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img2{
    background: url(../assets/img/brick_4k-g2e45e7101_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img3{
    background: url(../assets/img/safety-net-g980630d9d_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img4{
    background: url(../assets/img/lighthouse-g6a653c1ff_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}